[Unit]
Description=openlist
After=network.target
[Service]
Type=simple
WorkingDirectory=/root/openlist
ExecStart=/root/openlist/openlist server
Restart=on-failure
[Install]
WantedBy=multi-user.target
